body{
    background-image: url("../vue/images/mac-une.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 100vh;
}
.jumbotron{
    background-color: white;
    background-color: rgba(0,0,255,0.2);
    font-size: 30px;
    font-family: "Kaushan Script";
    color: white;
}
a{
    color: white;
}
.name_session{
    color:green;
    font-weight: bolder;
}

.texte{
    color: white;
}
.disco{
    margin-top: 15px;
}
.navprof{
    height: 60px;
}
.Kaushan{
    font-family: "Kaushan Script";
    font-size: 2em;
}
.logo{
    width: 70px;
}

@media screen and (min-width: 200px) and (max-width: 786px){
    .logo{
        width: 40px;
    }
}
